<h1><%= @patient.name %></h1>
<h2><%= pluralize(@patient.appointment_count, 'appointment' %></h2>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= "#{appointment.date} at #{appointment.time}" %> with <%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>
